.NavigationItem {
    list-style: none;
    padding-right: 10px;
}

.NavigationItem > a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.NavigationItem > a:hover {
    color: white;
}