.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: lightblue;
    align-items: center;
}

.Toolbar-logo {
    font-size: 40px;
    padding: 10px 0px 10px 150px;
}